.plate {
    color: #000000;
    font-family: "host grotesk", "sans-serif";
    width: 800px;
    height: 800px;
    background-color: #afddfe;
    border-radius: 50%;
    padding: 10px #46e66e;
    border: 100px solid #90b6d1;
    box-sizing: border-box;
    text-align: center;
}