.plate {
    color: #000000;
    font-family: "host grotesk", "sans-serif";
    width: 500px;
    height: 500px;
    background-color: #afddfe;
    border-radius: 50%;
    padding: 10px #afddfe;
    border: 200px solid #90b6d1;
    box-sizing: border-box;
}