.plate{
    display: inline-block;
    box-sizing: border-box;
    background-color: #afddfe;
    color: #000000;
    font-family: "host grotesk", "sans-serif";
    width: 500px;
    height: 500px;
    padding: 10px #afddfe;
    border: 200px #8cb4d0;
}