body{
    background-color: blue;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 4vw;
}

.container{
    width:500px;
    height:500px;
    background-color:rgb(170, 170, 255);
    position:absolute;
    left:20vw;
    margin-top:20px;
    top: 10vw;
  }
  
  .bottom-lip{
    width:480px;
    height:60px;
    background-color:red;
    position:absolute;
    bottom:20px;
    left:10px;
    transition:500ms ease-in-out;
  }

  .teeth{
    width:60px;
    height:90px;
    background-color:white;
    position:absolute;
    bottom:50px;
    transition:500ms ease-in-out;
  }

  #bot-one{
    left:10px;
  }

  #bot-two{
    left:130px;
  }

  #bot-three{
    left:250px;
  }

  #bot-four{
    left:370px;
  }

