// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.host-grotesk {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}